/* Module 4 Assignment  */
h1 {
    color: blue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5rem;
}
h2 {
    color: red;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    margin-top: 5rem;
}

img {
    border-radius: 2rem;
    margin-top: 5rem;
}
/* Module 4 Assignment  */
